.contenedorDetail{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    background-color: mediumslateblue;
    border-radius: 30px;
    width: 1000px;
    height: 550px;
}
.contenedorDetail p, h3, h4{
    color: white;
    
}
.contenedorDetail h3{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedorDetail h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.contenedorDetail p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}
.contenedor_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_img img{
    width: 350px;
    height: 500px;
    border-radius: 15px;
    
}

.contenedor_datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}