.porductCartList_container {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    
}
.container_info{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    
    
}
.info-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 45px;
    height: 55px;
   
    
}
.container-totalprice p {

    font-size: 30px;
}
.linkproductos{
    color: white;
    text-decoration-style: none;
}

